@charset "utf-8";
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Cafe24ClassicType-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "OTWelcomeRA";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  --bg: #fffafa;
  --main1: #386f4e;
  --main2: #c90000;
  --font1: #414141;
}
.mw {
  max-width: 1400px;
  margin: auto;
  width: calc(100% - 2rem);
}

.body {
  background-color: var(--bg);
}

.wrap {
  overflow: hidden;
}
.goback {
  font-family: "Cafe24ClassicType-Regular";
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 5%;
  text-align: center;
  color: var(--bg);
  text-shadow: 2px 1px #414141;
}
.goback::before {
  content: "";
  position: absolute;
  background: url(../img/돌아가기.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  z-index: -1;
  top: -10vh;
  left: -7vw;
  transition: 0.3s;
}
.goback:hover::before {
  transform: rotate(-10deg);
}

/* sec1 start */
#sec1 {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100vh;
  position: relative;
}
#sec1 .title {
  font-family: "Cafe24ClassicType-Regular";
  text-align: center;
  padding-top: 5rem;
  font-size: 35px;
  position: relative;
}
#sec1 .title::before {
  content: "";
  position: absolute;
  background: url(../img/방울-상.png);
  width: 160%;
  left: -19%;
  top: 0;
  height: 100vh;
  z-index: -1;
  opacity: 0.2;
}
.sec1_subtitle h2 {
  font-family: "Cafe24ClassicType-Regular";
  padding-top: 5rem;
  font-size: 25px;
  color: var(--main1);
}
.sec1_con {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.sec1_con > div {
  margin: 0 1rem;
}
.sec1_con .wire img {
  width: 100%;
  height: 65vh;
}
.sec1_con .text img {
  width: 65%;
  padding-top: 10%;
}
.sec1_dec {
  /* border: 1px solid blue; */
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 25px;
}
/* sec1 end */

/* sec2 start */
#sec2 {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100vh;
  position: relative;
}
.sec2_subtitle h1 {
  font-family: "Cafe24ClassicType-Regular";
  padding-top: 5rem;
  font-size: 25px;
  color: var(--main1);
}

.sec2_con {
  padding-top: 2rem;
  display: flex;
  padding-left: 5%;
}
.sec2_con > div {
  margin: 0 1rem;
}
.sec2_dec {
  position: absolute;
  right: 10%;
  top: 40%;
  font-size: 25px;
}
/* sec2 end */

/* sec3 start */
#sec3 {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100vh;
  position: relative;
}
.sec3_subtitle h1 {
  font-family: "Cafe24ClassicType-Regular";
  padding-top: 5rem;
  font-size: 25px;
  color: var(--main1);
}
.coding {
  padding-top: 5rem;
}
.coding img {
  width: 75%;
}
.sec3_dec {
  position: absolute;
  top: 45%;
  right: 3%;
  font-size: 25px;
}
/* sec3 end */

/* sec4 start */
#sec4 {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100vh;
  position: relative;
}
.sec4_subtitle h1 {
  font-family: "Cafe24ClassicType-Regular";
  padding-top: 5rem;
  font-size: 25px;
  color: var(--main1);
}
.sec4_subtitle h1::before {
  content: "";
  position: absolute;
  background: url(../img/방울-하.png);
  background-size: cover;
  width: 80%;
  height: 80vh;
  top: 20%;
  right: -20%;
  opacity: 0.2;
}
.sec4_con .finish {
  padding-top: 2rem;
  margin-left: 25%;
}
.sec4_con .finish img {
  width: 30%;
}
.sec4_dec {
  position: absolute;
  top: 45%;
  right: 10%;
  font-size: 25px;
}
.gotop {
  display: block;
  position: absolute;
  right: 10%;
  bottom: 10%;
  width: 250px;
  height: 100px;
  background-color: var(--main1);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: "Cafe24ClassicType-Regular";
  line-height: 2rem;
  text-align: center;
  padding-top: 1rem;
}
.gotop::before {
  content: "";
  position: absolute;
  background: url(../img/리본.png);
  background-size: cover;
  width: 200px;
  height: 100px;
  transform: rotate(35deg);
  bottom: 50%;
  right: -30%;
  transition: 0.3s;
}
.gotop:hover::before {
  transform: rotate(20deg);
}
/* sec4 end */
